@model EbtakrAlmanalntro.ViewModels.IntroDLLModels.EditAdvantagesViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">Edit</h2>
    <h5 class="text-center">آراء العملاء</h5>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IsActive" />
                <div class="form-group">
                    <label asp-for="ImgPath" class="control-label">الصورة القديمة</label>
                    <img src="@Model.ImgPath" width="100" height="100" />
                </div>

                <div class="form-group">
                    <label asp-for="ImgFormFile" class="control-label">الصورة</label>
                    <input asp-for="ImgFormFile" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TitleAr" class="control-label">العنوان بالعربية</label>
                    <input asp-for="TitleAr" class="form-control" />
                    <span asp-validation-for="TitleAr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TitleEn" class="control-label">العنوان بالانجليزية</label>
                    <input asp-for="TitleEn" class="form-control" />
                    <span asp-validation-for="TitleEn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionAr" class="control-label">الوصف بالعربية</label>
                    <input asp-for="DescriptionAr" class="form-control" />
                    <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionEn" class="control-label">الوصف بالانجليزية</label>
                    <input asp-for="DescriptionEn" class="form-control" />
                    <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                </div>
              


                <div class="form-group">
                    <input type="submit" value="حفظ" class="btn-new-style btn-rounded" />
                </div>
            </form>

            <a asp-action="Index" class="btn-black">  العودة  للرئيسية</a>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
