<!DOCTYPE html>
<html lang="en" dir="rtl">
    @using EbtakrAlmanalntro.Helper;
    @using EbtakrAlmanalntro.Services
    @inject IIntroSettingServices _setting
@{
    var Setting = await _setting.GetSetting("ar");
    int x = 12;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- App title -->
    <title>إبتكار المنال</title>

    <!-- App CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

    <link href="~/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/css/new-style.css" rel="stylesheet" />
    @*<link href="~/Content/css/new-style.css" rel="stylesheet" />*@
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/js/modernizr.min.js"></script>

</head>
<body>

    @*<div class="account-pages"></div>
        <div class="clearfix"></div>*@



    <div class="wrapper-page">
        <div class="account-pages">
            <img src="~/assets/images/big/pig44.gif" />
        </div>

        <div class="outer_forma">
            <div class="form-card">
                <div class="the_logo bg-light">
                    <img src="@HelperMethods.BaisUrlHoste@Setting.Logo" class="img-fluid" />
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- end wrapper page -->



    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/js/detect.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- App js -->
    <script src="~/js/jquery.core.js"></script>
    <script src="~/js/jquery.app.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker(
                {
                    format: 'L'
                }
            );
            $('#datetimepicker3').datetimepicker(
                {
                    format: 'L'
                }
            );


        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
